.pagination-wrapper {
  text-align: center;
  font-size: 16px;
}
.pagination-wrapper .page-number,
.pagination-wrapper .extend {
  display: inline-block;
  line-height: 24px;
  height: 24px;
  padding: 0 8px;
  margin: 0 8px;
  text-decoration: none;
  border-bottom: none;
}
.pagination-wrapper .page-number.current,
.pagination-wrapper .extend.current {
  color: #FFF;
  background-color: rgba(214, 214, 214, 0.9);
}
.pagination-wrapper .extend.prev {
  margin-right: 0;
}
.pagination-wrapper .extend.next {
  margin-left: 0;
}
.pagination-wrapper .space {
  display: inline-block;
  line-height: 24px;
  height: 24px;
  padding: 0 12px;
}
.post-list-wrapper {
  padding: 20px 0;
}
.post-list-wrapper .article-item {
  padding: 0 0 1rem;
}
.post-list-wrapper .article-item .article-title-wrapper {
  font-size: 1.6rem;
  line-height: 1.6rem;
  margin: 1.2em 0 0 0;
  color: #4d4d4d;
}
.post-list-wrapper .article-item .title-link {
  color: #4d4d4d;
  text-decoration: none;
}
.post-list-wrapper .article-item .title-link:hover {
  color: #3ebb96;
}
.post-list-wrapper .article-item .article-meta:after {
  content: "";
  display: table;
  clear: both;
}
.post-list-wrapper .article-item .article-meta .meta-item {
  float: left;
  padding: 0;
  margin: 10px 0;
  font-size: 14px;
  line-height: 16px;
  height: 16px;
  color: #838383;
}
.post-list-wrapper .article-item .article-meta .meta-time {
  padding-right: 12px;
}
.post-list-wrapper .article-item .article-meta .meta-tag {
  padding-right: 12px;
}
.post-list-wrapper .article-item .article-meta .tag-link {
  color: #838383;
}
.post-list-wrapper .article-item .article-meta .tag-link:hover {
  color: #38a887;
}
.post-list-wrapper .article-item .article-meta .category-link {
  color: #838383;
}
.post-list-wrapper .article-item .article-meta .category-link:hover {
  color: #3ebb96;
}
.post-list-wrapper .article-item .article-read-more .read-more-link {
  display: inline-block;
  font-size: 14px;
  background-color: #e8e8e8;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  padding: 0.1rem 1rem;
  text-decoration: none;
  color: #505050;
}
.post-list-wrapper .article-item .article-read-more .read-more-link:hover {
  color: #FFF;
  background-color: #3ebb96;
}
code {
  color: #e96900;
  padding: 1px 3px;
}
.entry .gist {
  background: #f7f7f7;
  border: 1px solid #e3e3e3;
  margin: 0;
  padding: 0;
  border-radius: 1px;
  line-height: 1.2;
  overflow: auto;
  color: #666;
}
.entry .gist .gist-file {
  border: none;
  font-family: inherit;
  margin: 0;
  font-size: 0.9rem;
}
.entry .gist .gist-file .gist-data {
  background: none;
  border-bottom: none;
}
.entry .gist .gist-file .gist-data pre {
  padding: 0;
}
.entry .gist .gist-file .gist-meta {
  background: none;
  color: #6a6a6a;
  margin-top: 5px;
  padding: 0;
}
.entry .gist .gist-file .gist-meta a {
  color: #505050;
  cursor: pointer;
}
figure.highlight {
  background: #f7f7f7;
  border: 1px solid #e3e3e3;
  margin: 0;
  padding: 0;
  border-radius: 1px;
  box-shadow: 1px 1px 1px 1px rgba(231, 233, 238, 0);
  color: #d1d9e1;
  line-height: 1.2;
  overflow: auto;
  position: relative;
}
figure.highlight figcaption {
  color: #d9e1e9;
  text-align: center;
  padding: 3px 0;
  border-bottom: 1px solid #ededed;
}
figure.highlight figcaption a {
  position: absolute;
  right: 15px;
}
figure.highlight pre {
  border: none;
  padding: 0;
  margin: 0;
}
figure.highlight table {
  margin-top: 0;
  border-spacing: 0;
}
figure.highlight .gutter {
  color: #6a6a6a;
  padding: 5pt 10pt;
  border-right: 1px solid #ededed;
  text-align: center;
}
figure.highlight .code {
  color: #666;
  padding: 5pt 10pt;
}
figure.highlight .line {
  height: 1.2em;
}
pre .comment,
pre .template_comment,
pre .diff .header,
pre .doctype,
pre .pi,
pre .lisp .string,
pre .javadoc {
  color: #93a1a1;
  font-style: italic;
}
pre .keyword,
pre .winutils,
pre .method,
pre .addition,
pre .css .tag,
pre .request,
pre .status,
pre .nginx .title {
  color: #859900;
}
pre .number,
pre .command,
pre .string,
pre .tag .value,
pre .phpdoc,
pre .tex .formula,
pre .regexp,
pre .hexcolor {
  color: #2aa198;
}
pre .title,
pre .localvars,
pre .chunk,
pre .decorator,
pre .built_in,
pre .identifier,
pre .vhdl,
pre .literal,
pre .id {
  color: #268bd2;
}
pre .attribute,
pre .variable,
pre .lisp .body,
pre .smalltalk .number,
pre .constant,
pre .class .title,
pre .parent,
pre .haskell .type {
  color: #b58900;
}
pre .preprocessor,
pre .preprocessor .keyword,
pre .shebang,
pre .symbol,
pre .symbol .string,
pre .diff .change,
pre .special,
pre .attr_selector,
pre .important,
pre .subst,
pre .cdata,
pre .clojure .title {
  color: #cb4b16;
}
pre .deletion {
  color: #dc322f;
}
pre .formula {
  background: #eee8d5;
}
pre .attr,
pre .attribute {
  color: #81a2be;
}
pre .emphasis {
  font-style: italic;
}
.article-main {
  padding: 10px 0;
}
.article-main .article-title {
  font-size: 2rem;
  line-height: 2.2rem;
  text-align: center;
  color: #4d4d4d;
  margin: 1em 0 0 0;
}
.article-main .article-meta {
  padding-bottom: 5px;
  text-align: center;
}
.article-main .article-meta:after {
  content: "";
  display: table;
  clear: both;
}
.article-main .article-meta .meta-item {
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  height: 16px;
  color: #838383;
  display: inline-block;
}
.article-main .article-meta .meta-time {
  padding-right: 12px;
}
.article-main .article-meta .meta-tag {
  padding-right: 12px;
}
.article-main .article-meta .tag-link {
  color: #838383;
}
.article-main .article-meta .tag-link:hover {
  color: #3ebb96;
}
.article-main .article-meta .category-link {
  color: #838383;
}
.article-main .article-meta .category-link:hover {
  color: #3ebb96;
}
.article-main .article-content .image-block .content img {
  max-width: 100%;
}
.archive-main .page-title {
  position: relative;
  margin: 0;
  padding: 40px 0 0 0;
  text-indent: 100px;
}
.archive-main .page-title .time-line-bg .time-line-disc {
  top: 0;
  display: none;
}
.archive-main .main-content .time-title {
  position: relative;
  margin: 0;
  font-size: 2rem;
  line-height: 1rem;
  padding: 0.6em 0;
}
.archive-main .main-content .time-title .time-title-link {
  text-decoration: none;
}
.archive-main .main-content .time-title .time-title-link:hover + .time-line-bg .time-line-disc {
  background-color: #9bd5b3;
}
.archive-main .main-content .article-achive-title {
  position: relative;
  font-size: 1.5rem;
  line-height: 1rem;
  padding: 0.6em 0;
  margin: 0;
}
.archive-main .main-content .article-achive-title:after {
  content: "";
  display: table;
  clear: both;
}
.archive-main .main-content .article-achive-title .title-date {
  font-size: 0.6rem;
  position: absolute;
  left: 3rem;
  width: 8rem;
}
.archive-main .main-content .article-achive-title .title-link {
  text-decoration: none;
  font-weight: normal;
  float: left;
  margin-left: 110px;
}
.archive-main .main-content .article-achive-title .title-link:hover ~ .time-line-bg .time-line-disc {
  background-color: #9bd5b3;
}
.archive-main .time-line-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 90px;
  width: 4px;
  background-color: rgba(214, 214, 214, 0.9);
  display: table-cell;
}
.archive-main .time-line-bg .time-line-disc {
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  margin: -6px 0 0 -4px;
  background-color: rgba(234, 234, 234, 0.9);
  transition: background-color 0.36s ease;
}
.archive-main .is-sticky .time-title-link {
  z-index: 100;
}
.category-main {
  padding: 20px 0 40px;
}
.category-main .page-title {
  position: relative;
  margin: 0;
  padding: 20px 0;
  font-size: 36px;
  margin-bottom: 12px;
}
.category-main .page-title .time-line-bg .time-line-disc {
  top: 0;
  display: none;
}
.category-main .page-content .category-item {
  font-size: 18px;
  border-bottom: 1px dotted #888;
  margin-bottom: 12px;
}
.category-main .page-content .category-item:after {
  content: "";
  display: table;
  clear: both;
}
.category-main .page-content .category-item .item-title {
  float: left;
  text-decoration: none;
}
.category-main .page-content .category-item .item-date {
  float: right;
}
.tag-main {
  padding: 20px 0 40px;
}
.tag-main .tag-article-link {
  color: #2a7e65;
  margin-left: 1.8em;
}
.tag-main .tag-article-link:hover {
  text-decoration-color: #9bd5b3;
}
p code,
p pre {
  font-size: 12.6px;
}
.base-content .article-item img,
.article-main .article-content > p img {
  max-width: 100%;
  text-align: center;
  vertical-align: middle;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  border: 1px solid #ddd;
}
.article-main .article-content > table {
  border: 1px solid #dedede;
  text-align: center;
}
.article-main .article-content > table th,
.article-main .article-content > table td {
  border: 1px solid #dedede;
  padding: 0 1rem;
}
.article-main .article-content > table th {
  font-weight: bold;
  background-color: rgba(158, 188, 226, 0.2);
  white-space: nowrap;
}
.article-main .article-content > table tbody tr:nth-child(2n) {
  background: rgba(158, 188, 226, 0.12);
}
.article-main .article-content > table tbody tr:hover {
  background: #efefef;
}
div.gallery {
  border: 1px solid #ccc;
}
div.gallery:hover {
  border: 1px solid #777;
}
div.gallery img {
  width: 100%;
  height: auto;
}
div.desc {
  padding: 1em;
  text-align: center;
}
* {
  box-sizing: border-box;
}
.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}
@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}
@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
