p code,
p pre {
  font-size: 12.6px;
}
.base-content .article-item img,
.article-main .article-content > p img {
  max-width: 100%;
  text-align: center;
  vertical-align: middle;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  border: 1px solid #ddd;
}
.article-main .article-content > table {
  border: 1px solid #dedede;
  text-align: center;
}
.article-main .article-content > table th,
.article-main .article-content > table td {
  border: 1px solid #dedede;
  padding: 0 1rem;
}
.article-main .article-content > table th {
  font-weight: bold;
  background-color: rgba(158, 188, 226, 0.2);
  white-space: nowrap;
}
.article-main .article-content > table tbody tr:nth-child(2n) {
  background: rgba(158, 188, 226, 0.12);
}
.article-main .article-content > table tbody tr:hover {
  background: #efefef;
}
div.gallery {
  border: 1px solid #ccc;
}
div.gallery:hover {
  border: 1px solid #777;
}
div.gallery img {
  width: 100%;
  height: auto;
}
div.desc {
  padding: 1em;
  text-align: center;
}
* {
  box-sizing: border-box;
}
.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}
@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}
@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
